---
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'
import Base from '../layouts/Base.astro'
import { slugify } from '../lib/slugify.ts'
import { createPlaceHolder } from '../lib/createPlaceHolder.ts'

const projectsCollection = await getCollection('projects')
const projects = await Promise.all(
	projectsCollection.map(async (p) => {
		const placeHolder = await createPlaceHolder(p.data.thumbnail)
		return {
			...p.data,
			slug: slugify(p.data.title),
			placeHolder
		}
	})
)
projects
	.sort((a, b) => b.date.getTime() - a.date.getTime())
	.sort((a, b) => (b.priority ?? 0) - (a.priority ?? 0))

const toPreload = projects.map((el) => el.placeHolder.src)
---

<Base current="projects" {toPreload}>
	<main class="divide-y-2 divide-dashed divide-black">
		{
			projects.map((project) => (
				<div class="group block px-4 py-12">
					<a
						href={`/projets/${project.slug}`}
						class="group/link container mx-auto grid flex-wrap gap-12 lg:grid-cols-12 "
					>
						<div
							class="aspect-[4/3] h-auto bg-cover bg-no-repeat lg:col-span-7"
							style={`background-image:url("${project.placeHolder.src}")`}
						>
							<Image
								src={project.thumbnail}
								alt={project.altText ?? ''}
								width={800}
								class="h-full w-full object-cover"
								transition:name={`${project.slug}-thumnain`}
							/>
						</div>
						<div class="space-y-2 sm:space-y-8 lg:col-span-5 lg:group-even:-order-1 lg:group-even:text-right">
							<h2
								class="line-clamp-1 font-serif text-3xl/tight font-bold italic lg:group-even:pr-2"
								transition:name={`${project.slug}-title`}
							>
								{project.title}
							</h2>
							<p class="italic" transition:name={`${project.slug}-legend`}>
								{project.legend}
							</p>
							<p class="prose prose-lg" transition:name={`${project.slug}-text`}>
								{project.resume}
							</p>
							<div class="flex items-center justify-end pt-8  lg:group-odd:justify-start">
								<svg
									width="102"
									height="24"
									viewBox="0 0 102 24"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
									class="transition-transform group-hover/link:translate-x-2 lg:group-hover/link:translate-x-4"
								>
									<path
										d="M101.561 13.0607C102.146 12.4749 102.146 11.5251 101.561 10.9393L92.0147 1.3934C91.4289 0.807611 90.4792 0.807611 89.8934 1.3934C89.3076 1.97919 89.3076 2.92893 89.8934 3.51472L98.3787 12L89.8934 20.4853C89.3076 21.0711 89.3076 22.0208 89.8934 22.6066C90.4792 23.1924 91.4289 23.1924 92.0147 22.6066L101.561 13.0607ZM0.5 13.5H100.5V10.5H0.5V13.5Z"
										fill="currentcolor"
									/>
								</svg>
							</div>
						</div>
					</a>
				</div>
			))
		}
	</main>
</Base>
